git rm --cached .DS_store
git commit -m "remove .DS_store"

<div class="contactme">
  <header>
    <div class="contactme__header">
      <h1>Abdulrafiu</h1>
    </div>
  </header>
  <main>
    <div class="contactme_mainpage">
      <h2>Let me know what you think about this page</h2>
    </div>
  </main>
</div>
